# secrets
bugsink_secret_key.txt

# caddyfile
Caddyfile

# docker compose.yml
docker-compose.yml
.docker-compose.*
!.docker-compose.example

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.*
!.env.example

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
